{% extends "universal/header.html" %}


{% block content %}
<main>
	<section class="subheader-contain">
	 <div class="subheader">
		<p class="subhead-fl">Markets Change, Customers Evolve,</p>
		<p class="subhead-sl">We Compute, You Grow!</p>
	</div>
	</div>
	</section>
	<div class="card-container">
		<img id="arrow-1"  src="/static/newarrow.png" alt="">
		<div class="card">
			<div class="card-title">Getting Started</div>
			<div class="card-content">
				Knowing all the ins-and-outs of business can be challenging, especially if you’re not quite sure where or how to start. No worries, we’re here to help! From concept, design, business structure or growth, we can take you through every step of the process.
			</div>
			<!--beginning of expanded card-->
			<button class="expand-btn">Read More</button>
			<div class="collapse-icon">&uarr;</div>
		   <div class="expanded-content">
			<!-- Content for expanded state -->
			<p>This content is visible when the card is expanded.Knowing all the ins-and-outs of business can be challenging, especially if you’re not quite sure where or how to start. No worries, we’re here to help! From concept, design, business structure or growth, we can take you through every step of the process.Knowing all the ins-and-outs of business can be challenging, especially if you’re not quite sure where or how to start.</p>
		</div>
		<!--end of expanded card-->
		</div>
		<img id="arrow-2" src="/static/newarrow.png" alt="">
	 	<div id="card2" class="card">
			<div class="card-title">Keeping it Simple</div>
			<div class="card-content">
				We start from the beginning with proven pathways to success. Our goal is not to reinvent the wheel, but simply shine the light on your business and road to success. We help you navigate each step with calculated structure in mind. We compute, you grow!
			</div>
			<!--beginning of expanded card-->
			<button class="expand-btn">Read More</button>
			<div class="collapse-icon">&uarr;</div>
			<div class="expanded-content">
			<!-- Content for expanded state -->
			<p>This content is visible when the card is expanded.Knowing all the ins-and-outs of business can be challenging, especially if you’re not quite sure where or how to start. No worries, we’re here to help! From concept, design, business structure or growth, we can take you through every step of the process.Knowing all the ins-and-outs of business can be challenging, especially if you’re not quite sure where or how to start.</p>
			</div>
		<!--end of expanded card-->
		</div>
		<img id="arrow-3" src="/static/newarrow.png" alt="">
		<div class="card">
			<div class="card-title">Speed To Market</div>
			<div class="card-content">
				Do you have an idea with an urgency to move? We get it. Knowing where to start and how to get there is what we do. From concept to completion, you’ll need a great plan and expert guidance to get there. We’ll keep you moving and on time.
			</div>
			<!--beginning of expanded card-->
			<button class="expand-btn">Read More</button>
			<div class="collapse-icon">&uarr;</div>
			<div class="expanded-content">
			<!-- Content for expanded state -->
			<p>This content is visible when the card is expanded.Knowing all the ins-and-outs of business can be challenging, especially if you’re not quite sure where or how to start. No worries, we’re here to help! From concept, design, business structure or growth, we can take you through every step of the process.Knowing all the ins-and-outs of business can be challenging, especially if you’re not quite sure where or how to start.</p>
		</div>
		<!--end of expanded card-->
		</div>
		<div class="card">
			<div class="card-title">Billion &#0036 Design</div>
			<div class="card-content">
				All of our products have billion-dollar think tank designs, integrated with clever bells and whistles. Website design to corporate management software, we’ve carefully crafted in all the details, customers first, process smooth and your company growing.
			</div>
			<!--beginning of expanded card-->
			<button class="expand-btn">Read More</button>
			<div class="collapse-icon">&uarr;</div>
			<div class="expanded-content">
			<!-- Content for expanded state -->
			<p>This content is visible when the card is expanded.Knowing all the ins-and-outs of business can be challenging, especially if you’re not quite sure where or how to start. No worries, we’re here to help! From concept, design, business structure or growth, we can take you through every step of the process.Knowing all the ins-and-outs of business can be challenging, especially if you’re not quite sure where or how to start.</p>
		</div>
		<!--end of expanded card-->
		</div>
	</div>
	<!--Testing Earth here with video walkout-->
	<div id="globe-universe">
		<div id="globe-background" class="circle"></div>
		<img src="/static/newglobe.gif" alt="globe">
	</div>
	<!--Biz tips heading-->
	<div>
		<p id="biz-tips">Need-to Know Tips For Every Business.</p>
	</div>
 <!-- Vertical Timeline -->
 <section id="c-timeline">
	<div class="c-center-line"></div>
	<div class="conference-timeline-content">
	  <!-- Article -->
	  <div class="timeline-article">
		<div class="content-left-container">
		  <div id="first-time-box" class="content-left">
			<p>The 4 P's.<br>At Cleverly Compute, we specialize in optimizing the four P's of marketing: product, price, place, and promotion. Whether you're establishing a new business or seeking to enhance an existing one, our expert team is dedicated to providing tailored solutions to meet your needs. Contact us today to unlock the potential of your business!<span class="article-number">01</span>
			</p>
			<button class="openModalBtn" data-modal-content="1.     Product
			Understanding your product, and getting ready for market, is important right out of the gate. Just because you like it, doesn’t mean it will sell. Testing and feedback is always helpful, especially when you’re investing, and asking the public to buy it. Whether you’re selling a product or service, you’ll want to determine if there’s a market for it? Feedback helps you see all the things you missed or might not have thought of. If you listen, it can be instrumental in perfecting your product.
			2.     Process
			How do you sell your goods or services? The means by which you’re connecting your product to the customer is your process. If the process is confusing or the message is bad, it can translate into poor sales. Streamlining the process and perfecting the message is key to getting your desired results.
			3.     People
			Leadership is much more than being the boss and having control. They determine who is right for each role that’s used in your process. It’s reported that 77% of business failures are due to poor leadership, and not knowing the talents of your employees can cost you revenue dollars. Affective leaders identify and cultivate potential in individuals, with each team member having a diverse set of skills. After you’ve streamlined your process, examine your team members to determine who is the best fit for each role in your process. Most often, poor sales are accompanied with a bad process or a bad leader not utilizing potential.
			4.     Pricing
			20% of business failures are due to competition. Knowing what you’re up against will help you identify where you’re lacking, whether it’s process, people, or pricing. Simply put, what are they doing better than you? Most often, pricing detours customers toward your competition, but a smooth process and easy access can lure them back, even if your prices are hire. You will need to find the right balance. Too low of pricing can give the impression of cheap product or services. Hire prices must be accompanied by a smooth process and great experience.
			 
			At Cleverly Compute, we can help you with your 4 P’s. Whether you’re in need of a new business foundation or help with an existing, we’re here to help you find solutions. Contact us today!
			">Read More</button>
			<div id="myModal" class="modal modal1">
				<div class="modal-content">
				  <span class="close"></span>
				  <p></p>
				</div>
			  </div>
		  </div>
		</div>
		<div class="content-right-container">
		  <div class="content-right">
			<p style="padding-bottom: 12%;">Commercial Lending.<br>Hello and welcome. If Commercial Lending is part of your business plan, you’ll need to know the full scope of their expectations before arriving.Bankers have a check list and you can be sure they're looking at it during your interview. So, what are they looking for?<span class="article-number">02</span>
			</p>
			<button class="openModalBtn" data-modal-content="Hello and welcome. If Commercial Lending is part of your business plan, you’ll need to know the full scope of their expectations before arriving. You can blow it in the first few minutes if you’re not prepared. Bankers have a check list and you can be sure their checking the boxes during your interview. So, what are they looking for? Here’s what the President of a large bank said, “Having great credit and collateral does not guarantee you a loan, there are four qualifying attributes we use in making our decision.
			Keep in mind you’re not the bank’s first loan, and the last thing they want is to foreclose.  With most commercial lenders, the four C’s help determine good candidates for success. Credit, Collateral, Character, and Capability. You’ll need a detailed plan of your business model, with a pathway to growth. Since 77% of new business start ups fail due to bad leadership, it’s important to demonstrate you’re the right candidate who understands their business.
			 
			At Cleverly Compute, we can help you structure a pathway from startup to growth.  Consultations are free and we’re always happy to answer any questions you might have.">Read More</button>
			<div id="myModal" class="modal">
				<div class="modal-content">
				  <span class="close"></span>
				  <p></p>
				</div>
			  </div>
		  </div>
		</div>
		<div class="meta-date">
		</div>
	  </div>
	  <!-- Article -->
	  <div class="timeline-article">
		<div class="content-left-container">
		  <div class="content-left">
		  	<p>New Business Start Ups<br>Thinking about starting a business, but not quite sure where to begin? What steps should you take, and what order should you take them? From legal structure, to launch, we can assist you in all areas of planning and development <span class="article-number">03</span>
		  	</p>
			  <button class="openModalBtn" data-modal-content="Thinking about starting a business, but not quite sure where to begin? What steps should you take and what order should you take them? Starting a business is similar to building a house. if the foundation is bad, your house is not stable. Over 90% of failures are the direct result of foundation issues. In the business world, this is bad leadership and there is no market for your product or service. If your idea can pass this stage, you’ve drastically increased your chances. Researching the feasibility of your product or service is always the first step in starting a business. If your research results are good and you believe in yourself, you’re going to need three things:<br>
			  Cashflow<br>
			  Business Plan<br>
			  Understand Your Competition!<br>
			  If your part of the 10% of new business that’s still standing the first year, These three things make-up 77% of those failures. If borrowing money is in your plan, you’ll need to watch our Commercial Lending Video. You need to be prepared for your bank's expectations!
			  ">Read More</button>
			  <div id="myModal" class="modal">
				  <div class="modal-content">
					<span class="close"></span>
					<p></p>
				  </div>
				</div>
		  </div>
	  </div>
		<div class="content-right-container">
		  <div class="content-right">
			<p>Business Structure.<br>Every new company goes from product discovery to business model. Once you’ve developed your product, it’s time to make money with it. Creating a business model is crucial. It’s the very core of how your business operates.<span class="article-number">04</span>
			</p>
			<button class="openModalBtn" data-modal-content="Every new company goes from product discovery to business model. Once you’ve developed your product, it’s time to make money with it. Creating a business model is crucial. It’s the very core of how your business operates. Understanding your downlines, expenses, supply and demand, is the first step.
			Next, you’ll need to give your business an infrastructure to operate.<br>
			&#8226;  Single Member, S Corp, C Corp<br>
			&#8226;  LLC vs INC<br>
			&#8226;  Invoicing<br>
			&#8226;  Payments<br>
			&#8226;  Merchant Services Mistakes<br>
			&#8226;  Liability Insurance<br>
			&#8226;  Logo<br>
			&#8226;  Website Development / E-Commerce<br>
			&#8226;  Branding<br>
			&#8226;  Contracts<br>
			&#8226;  Marketing<br>
			&#8226;  Wages<br>
			&#8226;  Taxes<br>
			&#8226;  Workman’s Comp Ins.<br>
			&#8226;  Employee Insurance.<br>
			&#8226;  Company Handbook<br>
			At Cleverly Compute, we take you through every step, creating each piece tailored to your business. Whatever your business needs are, we’re here to help you find a solution.  Contact our office today!
			">Read More</button>
			<div id="myModal" class="modal">
				<div class="modal-content">
				  <span class="close"></span>
				  <p></p>
				</div>
			  </div>
		  </div>
		</div>
		<div class="meta-date">
		</div>
	  </div>
	  <!-- Article -->
	  <div class="timeline-article">
		<div class="content-left-container">
		  <div class="content-left">
			<p>Need Wages Info here.<br>When I orbited the Earth in a spaceship, I saw for the first time how beautiful our planet is. Mankind, let us preserve and increase this beauty, and not destroy it! <span class="article-number">05</span>
			</p>
			<button class="openModalBtn" data-modal-content="This is some more content for the button">Read More</button>
			<div id="myModal" class="modal">
				<div class="modal-content">
				  <span class="close"></span>
				  <p></p>
				</div>
			  </div>
		  </div>
		</div>
		<div class="content-right-container">
		  <div class="content-right">
			<p>Branding and Logo's.<br>Branding your product or service plays a big role in getting noticed by your customer. In a world of choices, standing out from the crowd can be a key factor in picking up new clients.<span class="article-number">06</span>
			</p>
			<button class="openModalBtn" data-modal-content="Branding your product or service plays a big role in getting noticed by your customer. In a world of choices, standing out from the crowd can be a key factor in picking up new clients. As your business grows, your value should too, and branding is essential in adding value to your company. Studies show that most people associate quality with brands. Without a brand, your product or service can appear less affective in the buying process. A bad brand though, can damage your product too. A sharp brand and clear message can go a long way in growing your company. At Cleverly Compute, we’re here to help you find solutions. We’ll create a brand that represents the quality of your product, and add value to the longevity of you company. Contact us today!">Read More</button>
			<div id="myModal" class="modal">
				<div class="modal-content">
				  <span class="close"></span>
				  <p></p>
				</div>
			  </div>
		  </div>
		</div>
		<div class="meta-date">
		</div>
	  </div>
	  <!-- // Article -->
	</div>
	<div class="end">
	  <p>Marketing For You.<br>Marketing is a key step in growing any business. When, 81% of small businesses report having no employees, you can bet they’ve factored in little to no budgeting dollars to grow.<span class="article-number">07</span></p>
	  <button class="openModalBtn" data-modal-content="Marketing is a key step in growing any business. When, 81% of small businesses report having no employees, you can bet they’ve factored in little to no budgeting dollars to grow. However, marketing doesn’t have to be the enemy to your bottom line. If you’ve mastered the 4 P’s and your branding is sharp, you can make your marketing dollars stick. Check out our marketing services and let’s get your company growing.">Read More</button>
	  <div id="myModal" class="modal">
		  <div class="modal-content">
			<span class="close"></span>
			<p></p>
		  </div>
		</div>
	</div>
</section>
<!--Web dev cards-->
<section id="web-dev-cards">
	<h3>Website Development</h3>
	<div class="services-grid">
	  <div class="service service1">
		<i class="fa-solid fa-lightbulb"></i>
		<h4>Planning and Design</h4>
		<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	  </div>
  
	  <div class="service service2">
		<i class="fa-solid fa-code"></i>
		<h4>Development</h4>
		<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	  </div>
  
	  <div class="service service3">
		<i class="fa-solid fa-rocket"></i>
		<h4>Testing & Launch</h4>
		<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
	  </div>
	</div>
  </section>
<div id="scroll-to-top" class="scroll-to-top">
    <i class="fas fa-arrow-up"></i>
</div>
<script src="/static/popup.js"></script>
</main>
{% endblock %}