<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Put browser icon here-->
    <link href="/static/new.png" rel="icon">
    <title>Cleverly Compute</title>
    <!-- Static Files -->
    <link href="/static/cchome.css" rel="stylesheet">
    <link href="/static/faq.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <script src="/static/custom.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/boostrap.js"></script>
    <script src="/static/fontawesome.js" crossorigin="anonymous"></script>
    <script src="/static/splitting.js"></script>
    <script src="/static/gsap.js"></script>
  </head>
  <!--Mega Menu Services-->
  <nav>
    <div id="header">
      <div class="container1">
        <img id="cc-logo" src="/static/cc-full-logo.png" alt="Logo">
        <div class="inner">
          <ul class="nav">
            <li class="big-nav" id="services-menu">
              <a href="#">Services</a>
              <!--  Inside Mega Menu -->
              <ul id="services-mega" class="mega-container">
                <!--TESTING FIRST ROW!-->
                <div class="container">
                  <div class="col1-parent">
                    <div class="row1-child">
                      <img id="heart2" src="/static/heart2.jpg" alt="">
                    </div>
                    <div class="row1-child">
                      <img id="flyheart" src="/static/flyheart.jpg" alt="">
                    </div>
                    <div class="row1-child">
                      <img id="crazyhearts" src="/static/crazyhearts.jpg" alt="">
                    </div>
                  </div>
                  <div class="col2-parent-services">
                    <!--Adding in links-->
                    <div class="col2-parent">
                      <div class="row2-child-services">
                        <div class="icon-link-container">
                            <i id="link-icon-mega" class="fa-solid fa-code"></i>
                            <a id="link-word-mega" href="#">Custom Websites</a>
                        </div>
                      </div>
                      <div>
                      <div class="row2-child-services">
                        <div class="icon-link-container">
                          <i id="link-icon-mega" class="fa-solid fa-bullhorn"></i>
                          <a id="link-word-mega" href="#">Marketing</a>
                        </div>
                      </div>
                      </div>
                      <div class="row2-child-services">
                        <div class="icon-link-container">
                          <i id="link-icon-mega" class="fa-solid fa-pencil"></i>
                          <a id="link-word-mega" href="#">Logos / Branding</a>
                        </div>
                      </div>
                      <div class="row2-child-services">
                        <div class="icon-link-container">
                          <i id="link-icon-mega" class="fa-solid fa-briefcase"></i>
                          <a id="link-word-mega" href="#">Structuring Your Business</a>
                        </div>
                      </div>
                      <div class="row2-child-services">
                        <div class="icon-link-container">
                          <i id="link-icon-mega" class="fa-solid fa-gears"></i>
                          <a id="link-word-mega" href="#">Software</a>
                        </div>
                      </div>
                      <div class="row2-child-services">
                        <div class="icon-link-container">
                          <i id="link-icon-mega" class="fa-solid fa-mobile-screen-button"></i>
                          <a id="link-word-mega" href="#">Apps</a>
                        </div>
                      </div>
                      <div class="row2-child-services">
                        <div class="icon-link-container">
                          <i id="link-icon-mega" class="fa-regular fa-handshake"></i>
                          <a id="link-word-mega" href="#">Application Integration</a>
                        </div>
                      </div>
                      <div id="serv-bottom-row2" class="row2-child-services">
                        <div class="icon-link-container">
                          <i id="link-icon-mega" class="fa-solid fa-lightbulb"></i>
                          <a id="link-word-mega" href="#">Your Ideas</a>
                        </div>
                      </div>
                  </div>
                  <!--End of links-->
                </div>
                <div class="marketing-row-about mega-container">
                  <div class="marketing-columns-about">
                    <div class="marketing-child-services"></div>
                    <div class="marketing-child-services"></div>
                    <div class="marketing-child-services"></div>
                  </div>
                </div>
                <div class="full-row">
                  <p>Bringing Hearts and Tech Together, Happy Valentine's Day!</p>
                </div>
              </ul>
              <!--end inside Mega Menu-->
            <li class="big-nav" id="aboutUs-menu">
              <a href="#">About Us</a>
              <!--  Inside Mega Menu -->
              <ul id="mega-aboutus" class="mega-container">
                <!--TESTING FIRST ROW!-->
                <div class="container">
                  <div class="col1-parent">
                    <div class="row1-child">
                      <img id="heart2" src="/static/heart2.jpg" alt="">
                    </div>
                    <div class="row1-child">
                      <img id="flyheart" src="/static/flyheart.jpg" alt="">
                    </div>
                    <div class="row1-child">
                      <img id="crazyhearts" src="/static/crazyhearts.jpg" alt="">
                    </div>
                  </div>
                  <div class="col2-parent-about">
                    <div id="child1-about" class="row2-child"></div>
                    <div id="child2-about" class="row2-child"></div>
                  </div>
                </div>
                <div class="marketing-row-about mega-container">
                  <div class="marketing-columns-about">
                    <div class="marketing-child-about"></div>
                    <div class="marketing-child-about"></div>
                    <div class="marketing-child-about"></div>
                  </div>
                </div>
                <div class="full-row">
                  <p>Bringing Hearts and Tech Together, Happy Valentine's Day!</p>
                </div>
              </ul>
            <li class="big-nav" id="geek-pasta-mega">
              <a href="#">Geek Pasta</a>
              <ul id="mega-geek-pasta" class="mega-container">
                <!--Geek Pasta Mega-->
                  <div class="container-desk">
                    <img src="/static/desktrail.png" alt="">
                  </div>
                  <div class="marketing-col-desk">
                    <div class="marketing-col-child-desk"></div>
                    <div class="marketing-col-child-desk1"></div>
                  </div>
                </ul>
                <!--end of geek Pasta Mega-->
            </li>
            <li class="big-nav" id="desk-trail-mega">
              <a href="#">Desk Trail</a>
              <ul id="mega-desk-trail" class="mega-container">
              <!--Desk Trail Mega-->
                <div class="container-desk">
                  <img src="/static/desktrail.png" alt="">
                </div>
                <div class="marketing-col-desk">
                  <div class="marketing-col-child-desk"></div>
                  <div class="marketing-col-child-desk1"></div>
                </div>
              </ul>
              <!--end of Desk Trail Mega-->
            </li>
            <li class="big-nav" id="aboutYou-menu">
              <a href="#">About You</a>
              <!--  Inside Mega Menu -->
              <ul id="mega-aboutYou" class="mega-container">
                <!--TESTING FIRST ROW!-->
                <div class="container">
                  <div class="col1-parent">
                    <div class="row1-child">
                      <img id="heart2" src="/static/heart2.jpg" alt="">
                    </div>
                    <div class="row1-child">
                      <img id="flyheart" src="/static/flyheart.jpg" alt="">
                    </div>
                    <div class="row1-child">
                      <img id="crazyhearts" src="/static/crazyhearts.jpg" alt="">
                    </div>
                  </div>
                  <div class="col2-parent-about">
                    <div id="child1-about" class="row2-child"></div>
                    <div id="child2-about" class="row2-child"></div>
                  </div>
                </div>
                <div class="marketing-row-about mega-container">
                  <div class="marketing-columns-about">
                    <div class="marketing-child-about"></div>
                    <div class="marketing-child-about"></div>
                    <div class="marketing-child-about"></div>
                  </div>
                </div>
                <div class="full-row">
                  <p>Bringing Hearts and Tech Together, Happy Valentine's Day!</p>
                </div>
              </ul>
            </li>
            <li class="big-nav" id="contact-menu">
              <a href="#">Contact</a>
              <!--  Inside Mega Menu -->
              <ul id="mega-contact" class="mega-container">
                <!--TESTING FIRST ROW!-->
                <div class="container">
                  <div class="col1-parent">
                    <div class="row1-child">
                      <img id="heart2" src="/static/heart2.jpg" alt="">
                    </div>
                    <div class="row1-child">
                      <img id="flyheart" src="/static/flyheart.jpg" alt="">
                    </div>
                    <div class="row1-child">
                      <img id="crazyhearts" src="/static/crazyhearts.jpg" alt="">
                    </div>
                  </div>
                  <div class="col2-parent-about">
                    <div id="child1-about" class="row2-child"></div>
                    <div id="child2-about" class="row2-child">
                      <img src="/static/building.png" alt="">
                    </div>
                  </div>
                </div>
                <div class="marketing-row-about mega-container">
                  <div class="marketing-columns-about">
                    <div class="marketing-child-about"></div>
                    <div class="marketing-child-about"></div>
                    <div class="marketing-child-about"></div>
                  </div>
                </div>
                <div class="full-row">
                  <p>Bringing Hearts and Tech Together, Happy Valentine's Day!</p>
                </div>
              </ul>
            </li>
            <li class="header-icons">
              <a href="#"><i class="fa-brands fa-facebook-f" style="color: black;"></i></a>
              <a href="#"><i class="fa-brands fa-instagram" style="color: black;"></i></a>
              <a href="#"><i class="fa-brands fa-x-twitter" style="color: black;"></i></a>
              <a href="#"><i class="fa-brands fa-youtube" style="color: black;"></i></a>
              <a href="#"><i class="fa-brands fa-tiktok" style="color: black;"></i></a>
            </li>
                <li>
                  <a href="tel:+14178142097">
                <i class="fa-solid fa-phone"></i> 417-814-2097 </a>
            </li>
        </div>
      </div>
  </nav>
<body>

{% block content %}

{% endblock %}  

</body>
<footer>
  <div id="nav-container">
    <div id="logo-sec-nav">
      <img src="/static/cc-full-logo.png" style="width: 250px; height: 225px;" loading="lazy" alt="Footer logo">
      <p class="copyright-text">Copyright &copy; 2024 All Rights Reserved by Cleverly Compute LLC</p>
    </div>
    <div id="links-sec-nav1">
      <div class="footer-title-nav">About</div>
        <a href="#" class="footer_links">What About You?</a>
        <a href="#" class="footer_links">Why Cleverly Compute?</a>
        <a href="#" class="footer_links">Who is Cleverly Compute for?</a>
    </div>
    <div id="links-sec-nav2">
      <div class="footer-title-nav">How It Works</div>
        <a href="#" class="footer_links">Our Services</a>
        <a href="#" class="footer_links">What We Offer</a>
        <a href="#" class="footer_links">Contact Us</a>
        <a href="#" class="footer_links">FAQ</a>
    </div>
    <div id="links-sec-nav3">
      <div class="footer-title-nav">Stay In Touch</div>
        <a href="#" class="footer_links">Blog</a>
        <a href="#" class="footer_links">Follow us!</a>
        <a href="#" class="footer_links">Privacy Policy</a>
        <a href="#" class="footer_links">Terms of Use</a>
    </div>
  </div>
</footer>
</html>